body {
    background-color: #ffffff;
}

#header {
    background-color: #ffffff;
}

#headerProfilePhoto {
    border: 2px solid #81e5bc;
}

#mainFeed {
    background-color: #abefd4;
}

#sideBarOptions {
    background-color: #abefd4;
}

#feedList {
    background-color: #ffffff;
    height: 500px;
    overflow-y: scroll;
}

.feedItem {
    border: 2px solid #81e5bc;
}

.feedOptions {
    font-size: 70%;
    margin-right: 15px;
}

.list-inline-item:not(:last-child) {
    margin-right: 15px;
}

footer {
    background-color: #81e5bc;
}

button:hover {
    cursor: pointer;
}

/* 
-darkest: #81e5bc
-middle: #86e6bf
-lightest: #abefd4 */
