body {
    background-color: #ffffff;
}

#header {
    background-color: #ffffff;
}

#headerProfilePhoto {
    border: 2px solid #81e5bc;
}

#mainFeed {
    background-color: #abefd4;
}

#sideBar {
    background-color: #abefd4;
}

#feedList {
    background-color: #ffffff;
}

.feedItem {
    border: 2px solid #81e5bc;
}

.updateTimeStamp {
    font-size: 70%;
}

footer {
    background-color: #81e5bc;
}

button:hover {
    cursor: pointer;
}

/* 
-darkest: #81e5bc
-middle: #86e6bf
-lightest: #abefd4 */
