<div class="container">
    <div class="row">
        <div class="col py-3 mb-3" id="header">

            <div class="row align-items-center">

                <div class="col-12 col-md-7">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img src="images/logo.png" alt="roots logo" class="img-fluid" id="siteLogo">
                        </div>

                        <div class="col-9 col-sm-7">
                            <h3>Roots</h3>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Font too small? Click here.
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">125%</a>
                            <a class="dropdown-item" href="#">150%</a>
                            <a class="dropdown-item" href="#">175%</a>
                            <a class="dropdown-item" href="#">200%</a>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-2">
                    <button class="btn btn-success btn-block" id="signoutBtn">Sign Out</button>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col py-3">

            <div class="row">

                <div class="col-12 col-md-4" id="profileHeader">
                    <!-- profile img with 5px border -->
                    <img class="img-fluid" src="/images/profileplaceholder.png"/>
                    <!-- user name and status with edit link -->

                    <div class="col py-3">
                        <h3 id="profileNameDisplay">{{user.name}}</h3>
                        {{#if user.status}}
                            <p id="profileStatusDisplay">{{user.status}}</p>
                        {{/if}}
                    </div>
                </div>

                <div class="col-12 col-md-8">

                    <div class="row">
                        <div class="col-12" id="updateStatusWindow">
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" id="statusEntryField" rows="3" placeholder="Share something great..."></textarea>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn btn-success" id="postStatusBtn">Post</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="my-0" id="profileTabs">
                                <!-- Activity / Photos / Events -->
                                <li class="tabLabel text-muted" id="profileTabActivity" onclick="showActivity(this)">Activity</li>
                                <li class="tabLabel text-muted" id="profileTabPhotos" onclick="showGallery(this)">Photos</li>
                                <li class="tabLabel text-muted" id="profileTabEvents" onclick="showEvents(this)">Events</li>
                                <li class="tabLabel text-muted" id="profileTabMail" onclick="showMessages(this)">Messages</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 px-3" id="profileContent">

                        <div class="row contentItem" id="profileActivityContent">
                            <div id="feed" class="col-12"></div>
                        </div>

                        <div class="row contentItem" id="profilePhotosContent" hidden>
                            <div class="col-12">
                                <h3 class="my-3">Gallery</h3>
                                <ul class="list-inline" id="galleryList">
                                    <li class="list-inline-item">
                                        <img src="/images/gallery1holder.png" class="img-fluid"/>
                                        <p class="imgTitle text-center py-2">Landscapes</p>
                                    </li>

                                    <li class="list-inline-item">
                                        <img src="/images/gallery2holder.png" class="img-fluid"/>
                                        <p class="imgTitle text-center py-2">Monsters</p>
                                    </li>

                                    <li class="list-inline-item">
                                        <img src="/images/gallery3holder.png" class="img-fluid"/>
                                        <p class="imgTitle text-center py-2">Wild Life</p>
                                    </li>

                                    <li class="list-inline-item">
                                        <img src="/images/gallery4holder.png" class="img-fluid"/>
                                        <p class="imgTitle text-center py-2">Rides</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row contentItem" id="profileEventContent" hidden>
                            <div class="col-12">
                                <h3 class="my-3">Current Events</h3>
                                <ul id="eventList">

                                    <li class="eventListItem p-3 mb-3">
                                        <span class="eventNameContent">Point Pleasant Lunch</span>
                                        <span class="eventTimeContent float-right">4:00 PM</span>
                                        <p class="interestOption py-2 m-0 text-left">
                                            <button class="btn btn-small btn-success interestedBtn">
                                                <span class="eventInterestStar"><img src="/images/unselectedgold.png" width="30" height="30" /> </span>
                                                <span class="eventInterestNotice">Interested</span>
                                            </button>
                                            <span class="interestCount ml-3">16 people interested.</span>
                                        </p>
                                    </li>

                                    <li class="eventListItem p-3 mb-3">
                                        <span class="eventNameContent">Crib with Pam</span>
                                        <span class="eventTimeContent float-right">6:30 PM</span>
                                        <p class="interestOption py-2 m-0 text-left">
                                            <button class="btn btn-small btn-success interestedBtn">
                                                <span class="eventInterestStar"><img src="/images/unselectedgold.png" width="30" height="30" /> </span>
                                                <span class="eventInterestNotice">Interested</span>
                                            </button>
                                            <span class="interestCount ml-3">16 people interested.</span>
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="row contentItem" id="profileMailContent" hidden>
                            <div class="col-12">
                                <h3 class="my-3">Your Mail</h3>
                                <ul id="messageList">

                                    <li class="messageItem">
                                        <img src="/images/mail.png" id="mailIcon" />
                                        <span>From <strong>Peter Vosh</strong></span>
                                        <button class="btn btn-roots float-right" data-toggle="modal" data-target="#mailModal">Read Message</button>
                                        <p>received yesterday at 3:24 pm</p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

            </div>


        </div>

        <!--<div class="hidden-xs-down col-sm-3" id="sideBar">-->

            <!--<div class="row">-->
                <!--<div class="col-12 py-3" id="sideBarOptions">-->
                    <!--<div class="btn-group-vertical btn-block">-->
                        <!--<button type="button" class="btn btn-secondary btn-lg"><i class="fa fa-picture-o"-->
                                                                                  <!--aria-hidden="true"></i>&nbsp;Photos-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-secondary btn-lg"><i class="fa fa-calendar"-->
                                                                                  <!--aria-hidden="true"></i>&nbsp;Events-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-secondary btn-lg"><i class="fa fa-cogs"-->
                                                                                  <!--aria-hidden="true"></i>&nbsp;Settings-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <!-- mail Modal -->
        <div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-success text-white">
                        <h5 class="modal-title" id="mailModalLabel">Peter Vosh</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="loginForm">

                            <div class="form-group">
                                <h3>Welcome to Roots Mail!</h3>
                            </div>

                            <div class="form-group">
                                <p class="text-muted">Welcome to Roots Mail. Communicate even easier and more privately using this system.<br><br>Peter</p>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Type your response here..." style="resize: none;"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Delete</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Reply
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <footer class="col-12 mt-5 py-2">
            <p class="text-center m-0">Roots 2017 &copy;&nbsp;All rights reserved.</p>
        </footer>
    </div>

</div>
